/* ===== General Styles ===== */

/* Fonts */
@import url('https://fonts.googleapis.com/css2?family=Karla:ital,wght@0,200;0,300;0,400;0,500;0,600;0,700;0,800;1,200;1,300;1,400;1,500;1,600;1,700;1,800&display=swap');

/* Font Families & Colors
font-family: 'Karla', sans-serif;
Farbe: #323A45 / #848484 */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Karla', sans-serif;
    color: #323A45; 
    font-size: 1rem;
}

h1 {
    font-size: 1.5rem;
}

ul {
    list-style: none;
}

a {
    text-decoration: none;
}

h1:hover, a:hover {
    opacity: 0.5;
}







header, main {
    margin: 5vh 6vw;
}
/* ===== Header Styles ===== */
header nav {
    display: flex; 
    justify-content: space-between;
    align-items: center; 
}

header nav ul {
    display: flex; 
}

header nav > ul li {
    margin-left: 30px; 
}

.navButtonMobile  {
    display: none; 
}

/* ===== Mobile Nav Styles ===== */
.navMobileOverlay {
    display: none; 
}

/* ===== Main Shop Area ===== */

/* = General Main Shop Area = */
.product, .price, h2 {
    font-size: 1.1rem; 
}

.fontColorGrey {
    color: #848484; 
}

/* Sections */
main section {
    display: grid; 
    grid-template-columns: repeat(3, 1fr);
    gap: 25px; 
}

main section article {
    margin: 15px 0; 
}

main section article img {
    width: 100%; 
    margin-bottom: 15px; 
}

.sectionHeroImage {
    grid-column: 1/4;
    grid-row: 1/2;
}

main section article div {
    display: grid; 
    grid-template-columns: 2.5fr 1fr;
    gap: 8px; 
}

.product {
    grid-column: 1/2;
    grid-row: 1/2;
}

.price {
    grid-column: 2/3;
    grid-row: 1/2;
    text-align: right;
}

.company {
    grid-column: 1/2;
    grid-row: 2/3;
}

/* ===== Footer Styles ===== */
footer {
    margin: 5vh 6vw 2vh 6vw;
}

footer section {
    display: grid; 
    grid-template-columns: 2.5fr 1fr 2fr 2fr;
    grid-column: center;
}

footer section article h2 {
    margin-bottom: 3vh; 
}

.fontStyleBold {
    font-weight: bold;
}

.fontItalic {
    font-style: italic;
}

footer section article p, ul li {
    line-height: 30px; 
}

footer > p {
    margin-top: 10vh; 
}

footer > p span {
    margin: 0 1vw; 
}

/* ===== Media Queries for 600px ===== */
@media screen and (max-width: 600px) {
    hmtl {
        font-size: 80%;
    }

    header, main {
        margin: 3vh 3vw 2vh 3vw;
    }

    /* Mobile Header Styles */
    header nav {
        display: block; 
        text-align: center;
    }

    header nav > ul {
        display: none; 
    }

    .navButtonMobile {
        display: block; 
        margin: 2vh auto; 
    }

    /* Mobile Nav Styles */
    .navMobileOverlay {
        padding: 2vh 0; 
        width: 100%;
        background: #848484;
    }
    
    .navMobileOverlay ul li {
        display: block; 
        text-align: center;
    }
    
    .navMobileOverlay ul li a {
        color: white; 
        font-size: 1.5rem;
    }

    /* Mobile Main Shop Area */
    main section {
        display: grid; 
        grid-template-columns: 1fr;
        gap: 25px; 
    }

    .sectionHeroImage {
        grid-column: 1/2;
        grid-row: 1/2;
    }

    main section article div {
        display: grid; 
        grid-template-columns: 1fr 0.5fr;
        gap: 8px; 
    }

    /* Mobile Footer Styles */
    footer {
        margin: 5vh 3vw 2vh 3vw;
        text-align: center; 
    }

    footer section {
        display: grid; 
        grid-template-columns: 1fr;
        gap: 30px; 
    }

    footer section article h2 {
        margin-bottom: 1vh; 
    }

    footer section article p, ul li {
        display: inline-block;
    }
}






